.simple-search-modal {
    position: relative;
}

.simple-search-modal .modal-content {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.simple-search-modal .simple-search-title {
    position: absolute;
    top: 12px;  /* Adjust this value to align with the X button */
    left: 15px;
    margin: 0;
    padding: 0;
    font-size: var(--font-ui-medium);
    font-weight: var(--font-medium);
    line-height: 1;
}

.simple-search-modal .simple-search-input {
    margin-top: 25px; /* Reduced space below the title */
    margin-bottom: 10px;
    width: 100%;
}

.simple-search-modal .simple-search-results {
    flex: 1 1 auto;
    overflow-y: auto;
    border: 1px solid var(--background-modifier-border);
    padding: 5px;
}

.simple-search-result {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.simple-search-result:hover {
    outline: 2px solid var(--interactive-accent-hover);
    outline-offset: 2px;
    border-radius: 4px;
}

.simple-search-file-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.search-results-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-results-list li {
    margin-bottom: 5px;
}